.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8px 16px;
  text-align: center;
}

.name {
  text-align: center;
  font-size: 24px;
  color: #1A1A1A;
  line-height: 60px;
}